
body{
    background: url('/image.jpg') no-repeat;
    background-size: cover;
}

header{
    background: rgba(14, 3, 3, 0.6);
}
#single-toDo{
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}