
body{
    background: #cec1b1 url('image/bg.jpg.jpg') fixed;
    background-size: cover;
}
header{
    background: rgba(14, 3, 3, 0.6);
}
#single-toDo{
    background: rgba(20, 16, 16, 0.6);
    border-radius: 20px;
}